*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color{
    width: 100%;
    height: 80px;
    background-color: blue;
    opacity: 0.4;
    z-index: 0;
}

.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 40px;
    position: absolute;
    z-index: 1;
}

.navbar img{
    height: 60px;
    border-radius: 100%;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
}

.navbar ul a{
    text-decoration: none;
    color: blue;
}

.navbar ul a:hover{
    color: darkturquoise;
}

.hero{
    width: 100%;
    height: 89vh;
    background-image: url(img/Wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero .content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.about{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.about img{
    width: 500px;
    border-radius: 100%;
}

.about .text{
    max-width: 520px;
}

.about .text h1{
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.about .text p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.service{
    width: 100%;
    height: auto;
    padding: 40px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkslateblue;
}

.cards{
    width: 100%;
    height: auto;
    display: flex;
    gap: 25px;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}

.service1{
    width: 400px;
    max-height: 500px;
    border-radius: 10px;
    background-color: white;
}
.service1 img{
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 3px 3px;
    transition: all .5s;
}
.service1 img:hover{
    filter: brightness(50%);
}
.service1 h1{
    margin: 10px 0 5px 10px;
    font-family: monospace;
}
.service1 div{
    position: absolute;
}
.service1 h3{
    max-width: 380px;
    margin: 0 0 13px 10px;
    font-weight: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.service2{
    width: 400px;
    max-height: 500px;
    border-radius: 10px;
    background-color: white;
}
.service2 img{
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 3px 3px;
    transition: all .5s;
}
.service2 img:hover{
    filter: brightness(50%);
}
.service2 h1{
    margin: 10px 0 5px 10px;
    font-family: monospace;
}
.service2 div{
    position: absolute;
}
.service2 h3{
    max-width: 380px;
    margin: 0 0 13px 10px;
    font-weight: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}