*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    overflow: scroll;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9999FF;
    padding: 0 40px 0 40px;
    z-index: 1;
}

.navbar img{
    height: 60px;
    border-radius: 100%;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
}

.navbar ul a{
    text-decoration: none;
    color: blue;
}

.navbar ul a:hover{
    color: darkturquoise;
}

.hero{
    width: 100%;
    height: 89vh;
    background-image: url(img/Wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero .content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.about{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.about img{
    width: 500px;
    border-radius: 100%;
}

.about .text{
    max-width: 520px;
}

.about .text h1{
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.about .text p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.service{
    width: 100%;
    height: auto;
    padding: 40px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkslateblue;
}

.cards{
    width: 100%;
    height: auto;
    display: flex;
    gap: 25px;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}

.service1{
    width: 400px;
    max-height: 500px;
    border-radius: 10px;
    background-color: white;
}
.service1 img{
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 3px 3px;
    transition: all .5s;
}
.service1 img:hover{
    filter: brightness(50%);
}
.service1 h1{
    margin: 10px 0 5px 10px;
    font-family: monospace;
}
.service1 div{
    position: absolute;
}
.service1 h3{
    max-width: 380px;
    margin: 0 0 13px 10px;
    font-weight: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.service2{
    width: 400px;
    max-height: 500px;
    border-radius: 10px;
    background-color: white;
}
.service2 img{
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 3px 3px;
    transition: all .5s;
}
.service2 img:hover{
    filter: brightness(50%);
}
.service2 h1{
    margin: 10px 0 5px 10px;
    font-family: monospace;
}
.service2 div{
    position: absolute;
}
.service2 h3{
    max-width: 380px;
    margin: 0 0 13px 10px;
    font-weight: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contact{
    width: 100%;
    height: 80vh;
    display: flex;
    background-image: url(img/wallpaper2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: column;
    padding: 40px 0 0 0;
    align-items: center;
    justify-content: space-between;
}

.layer1{
    width: 100%;
    height: 30vh;
    display: flex;
    position: relative;
    gap: 80px;
    background-color: rgba(0, 255, 226, 0.50);
}

.layer1 img{
    position: relative;
    height:500px;
    top: -297px;
}

.layer1 .text{
    text-align: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.layer1 .text h1{
    border-block-end: solid;
    writing-mode: horizontal-tb;
}

.kontens{
    display: flex;
    text-align: left;
    gap: 30px;
}

.konten1{
    border-right: solid;
    writing-mode: sideways-rl;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.konten2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: white;
    gap: 60px;
}

.footer img{
    margin-right: 250px;
    height: 300px; 
    border-radius: 100%;
    padding: 20px;
}

.footer hr{
    margin-bottom: 10px;
}

.footer h3{
    margin-bottom: 5px;
}

.footer a{
    color: gray;
}
.footer a:hover{
    color: white;
}

.menu{
    margin-top: 80px;
}